body {
    min-width: 320px;
    background-image: url("img/back.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.menu-bar{
    padding: 0 40px;

}

.nav-item {
    margin-left: 50px;
    margin-right: 35px;
}

.nav-item a{
    color: white;
    font-family: Montserrat;
    font-style: italic;
    font-size: 30px;
}

#text-color a{
    color: white;
}

#text-color a:hover {
    text-decoration: none;
    color: red;
}

main > div{
    text-align: center;
    padding: 70px 0;

}

.main-text {
    color: white;
    font-family: Montserrat;
    font-style: italic;
    font-size: 60px;
}

.line_uppertext {
    background-color: white;
    color: white;
    height: 3px;
    margin-bottom: 50px;
}

.small-icons {
    margin-right: 150px;
    margin-bottom: 30px;
}

.react-icon {
    margin-right: 60px;
}

.red-button {
    margin-top: 40px;
}

.red-button:hover {
    background: url("img/another-button.png");
}

.menu-icon {
    display: none;
}

.logo-bar {
    align-items: center;
    display: flex;
    flex-direction: column;

}

.hamb-ul {
        align-self: flex-start;
        background: #eee;
        margin: 0;
        padding: 0;
        width: 100%;

    }

.hamb-li {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 1.5em;
    height: 2em;
    justify-content: center;
    list-style: none;
    text-transform: uppercase;
    transition: all .3s ease;
}

.hamb-li:hover {
    background-color: yellow;
    color: green;
}

#app {
    align-items: center;
    display: flex;
    flex-direction: column;

}

.fade-enter-active,
.fade-leave-active{
    transition: opacity .3s ease;
}

.fade-enter,
.fade-leave-to{
    opacity: 0;
}

.menu, .clear{
    cursor: pointer;
    font-size: 3em;
    padding-left: 5%;
    transition: all .3s ease;
    width: 1.5em;
    color: white;
}


@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1199px) {

}

@media only screen and (max-width: 992px) {
    nav {
        display: none;
    }
    .logo-bar {
        display: flex;
        justify-content: center;
    }
    .menu-icon {
        z-index:99999999;
        display: block;
        background: #00897f;
        border: none;
        font-size: 25px;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }



}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 480px) {

}